.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    background-color: #57ff48;
    color: #000000;
  
  }
  .elements{
    display: flex;
    flex-wrap: wrap;
  }
 h3 {
    color: #221800;
    text-decoration: none;
    margin-right: 20px;
  }
  
 h3:hover {
    text-decoration: underline;
  }
 
  